# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# VSCode-specific files
.vscode/

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Backup files
*.bak
*.swp